@charset "utf-8";
/*칸이 1,2,3 순서로 나옴*/
/* #container {
    width: 500px;
    height: 300px;
    margin: 0 auto;
    display: flex;
    border: 2px solid black;
}
#container div {
    width: 200px;
    border: 2px solid black;
    background: gray;
}
h2 {
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
} */
/*주 축을 세로로 (칸이 세로로 1,2,3 순으로 나옴*/
/* #container {
    width: 500px;
    height: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}
#container div {
    width: 200px;
    border: 1px solid black;
    background: gray;
}
h2 {
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
} */
/*칸이 1,2,3 순서로 나오지만 컨텐츠 사이즈가 부족하면 박스가 아래로 내려감*/
 /* #container {
    width: 500px;
    height: 300px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
}
#container div {
    width: 200px;
    border: 2px solid black;
    background: gray;
}
h2 {
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
} */
/* 방향을 반대로 배치 */
/*
#container {
    width: 500px;
    height: 300px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap-reverse;
    border: 2px solid black;
}
#container div {
    width: 200px;
    border: 2px solid black;
    background: gray;
}
h2 {
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
} */ 
#container {
    width: 500px;
    height: 300px;
    margin: 0 auto;
    display: flex;
    border: 2px solid black;
}
#container div {
    width: 200px;
    border: 2px solid black;
    background: gray;
}
#box1 { order: 2;}
#box2 { order: 3;}
#box3 { order: 1;}
h2 {
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
}